@media (max-width: 767px) {
    .reg {
        &__container {
            padding-top: 40px;
        }
        &__form {
            width: 50%;
        }
        &__info {
            width: 50%;
            @include font_sz_w(16px, 300);
            p {
                padding-bottom: 32px;
            }
        }
    }
}

@media (max-width: 575px) {
    .reg {
        &__container {
            flex-wrap: wrap;
        }
        &__form {
            width: 100%;
            margin-bottom: 40px;
        }
        &__info {
            width: 100%;
        }
    }
}
