@media (max-width: 767px) {
    .prods {
        .filter-box {
            margin-top: 14px;
            margin-bottom: 40px;
        }
        .filter-params {
            grid-column: span 1;
            margin-top: 24px;
            justify-content: end;
            gap: clamp(10px, 2.5vw, 28px);
            .filter-params-item {
                .param-summary {
                    gap: 3px;
                }
            }
        }
        .products-list-item:last-of-type{
            display: none;
        }
    }
    .prods .page-links {
        ul {
            margin-top: 41px;
            margin-bottom: 63px;
        }
    }
}

@media (max-width: 575px) {
    .prods {
        .filter-box {
            .filter-list {
                padding-left: 0;
                &-heading {
                    padding-left: 0;
                    .filter-tag {
                        display: none;
                    }
                    .filter-icon {
                        svg {
                            width: 37px;
                            height: 25px;
                        }
                    }
                }
                
            }
        }
        
        .filter-params {
            position: absolute;
            top: 225px;
            right: 16px;
            z-index: 500;
        }
    }
}
