@import "vars";
@import "mixins";

.product {
    background-color: #f8f3f4;
    &__content {
        @include flex_jc_ai(space-between, center);
        height: 148px;
        .title {
            @include font_sz_w(24px, 400);
            color: $colorPink;
        }
        .nav {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            .nav-item {
                &:not(:last-child)::after {
                    content: "/";
                }
                &:last-child .nav-link {
                    @include font_sz_w(14px, 700);
                    color: $colorPink;
                    padding-right: 0px;
                }
                &:first-child .nav-link {
                    padding-left: 0;
                }
                .nav-link {
                    padding: 15px 5px;
                    text-decoration: none;
                    color: #636363;
                    @include font_sz_w(14px, 300);
                    &:hover {
                        color: $colorPink;
                    }
                }
            }
        }
    }
}

.product-view {
    background-color: #f7f7f7;
    border-top: 1px solid $colorBorders;
    border-bottom: 1px solid $colorBorders;
    padding: 10px 141px 42px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    img {
        box-sizing: content-box;
        display: block;
        width: 100%;
        max-width: 597px;

    }
    .change-view {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: #d3d3d3;
        cursor: pointer;
        padding: 8px;
        &:hover path {
            fill: $colorPink;
        }
        &#view-prev {
            left: 0px;
        }
        &#view-next {
            right: 0px;
        }
    }
}

.product-params {
    &__content {
        transform: translateY(-64px);
        border: 1px solid $colorBorders;
        background-color: #fff;
        padding: 64px calc(50% - 741px / 2);
        margin-bottom: 65px;
        @include flex_jc_ai(center, center);
        flex-direction: column;
        .title {
            @include font_sz_w(14px, 300);
            color: $colorPink;
            margin-bottom: 12px;
        }
        .divider {
            background-color: $colorPink;
            border: none;
            width: 63px;
            height: 3px;
            margin-bottom: 12px;
        }
        .subtitle {
            @include font_sz_w(18px, 300);
            color: #4d4d4d;
            margin-bottom: 48px;
        }
        .text {
            @include font_sz_w(14px, 300);
            color: #5e5e5e;
            text-align: center;
            max-width: 550px;
            margin-bottom: 32px;
        }
        .price {
            width: 90%;
            text-align: center;
            @include font_sz_w(24px, 300);
            color: $colorPink;
            padding-bottom: 65px;
            border-bottom: 1px solid $colorBorders;
            margin-bottom: 65px;
        }
        .params-box {
            margin-bottom: 48px;
            display: flex;
            gap: 28px;
            .params-item {
                position: relative;
                .param-summary {
                    display: flex;
                    align-items: center;
                    gap: 9px;
                    cursor: pointer;
                    .param-heading {
                        @include font_sz_w(14px, 400);
                        color: $colorSubText;
                    }
                }
                .params-list {
                    padding: 7px 30px 2px 9px;
                    background: #fff;
                    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
                    position: absolute;
                    top: 22px;
                    &-item {
                        display: flex;
                        gap: 9px;
                        padding-bottom: 9px;
                        label {
                            @include font_sz_w(14px, 400);
                            color: $colorSubText;
                        }
                    }
                }
                &[open] svg {
                    transform: rotate(180deg);
                }
            }
        }
        .add-button {
            display: flex;
            align-items: center;
            gap: 23px;
            padding: 15px 57px 14px 24px;
            @include font_sz_w(16px, 400);
            color: $colorPink;
            background-color: #fff;
            border: 1px solid $colorPink;
            cursor: pointer;
            transition: all 0.3s;
            path {
                transition: all 0.3s;
                fill: #EF5B70;
            }
            &:hover {
                transition: all 0.3s;
                background-color: $colorPink;
                color: #fff;
                path {
                    transition: all 0.3s;
                    fill: #fff;
                }
            }
        }
    }
}

.prod {
    margin-bottom: 128px;
}

@import "media-product";