@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
.product-nav {
  background-color: #f8f3f4;
}
.product-nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
}
.product-nav__content .title {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #F16D7F;
}
.product-nav__content .nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.product-nav__content .nav .nav-item:not(:last-child)::after {
  content: "/";
}
.product-nav__content .nav .nav-item:last-child .nav-link {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #F16D7F;
  padding-right: 0px;
}
.product-nav__content .nav .nav-item:first-child .nav-link {
  padding-left: 0;
}
.product-nav__content .nav .nav-item .nav-link {
  padding: 15px 5px;
  text-decoration: none;
  color: #636363;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.product-nav__content .nav .nav-item .nav-link:hover {
  color: #F16D7F;
}

.product-view {
  background-color: #f7f7f7;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  padding: 10px 141px 42px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.product-view img {
  box-sizing: content-box;
  display: block;
  width: 100%;
  max-width: 597px;
}
.product-view .change-view {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #d3d3d3;
  cursor: pointer;
  padding: 8px;
}
.product-view .change-view:hover path {
  fill: #F16D7F;
}
.product-view .change-view#view-prev {
  left: 0px;
}
.product-view .change-view#view-next {
  right: 0px;
}

.product-params__content {
  transform: translateY(-64px);
  border: 1px solid #EAEAEA;
  background-color: #fff;
  padding: 64px calc(50% - 370.5px);
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-params__content .title {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #F16D7F;
  margin-bottom: 12px;
}
.product-params__content .divider {
  background-color: #F16D7F;
  border: none;
  width: 63px;
  height: 3px;
  margin-bottom: 12px;
}
.product-params__content .subtitle {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #4d4d4d;
  margin-bottom: 48px;
}
.product-params__content .text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
  max-width: 550px;
  margin-bottom: 32px;
}
.product-params__content .price {
  width: 90%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #F16D7F;
  padding-bottom: 65px;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 65px;
}
.product-params__content .params-box {
  margin-bottom: 48px;
  display: flex;
  gap: 28px;
}
.product-params__content .params-box .params-item {
  position: relative;
}
.product-params__content .params-box .params-item .param-summary {
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
}
.product-params__content .params-box .params-item .param-summary .param-heading {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
}
.product-params__content .params-box .params-item .params-list {
  padding: 7px 30px 2px 9px;
  background: #fff;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  position: absolute;
  top: 22px;
}
.product-params__content .params-box .params-item .params-list-item {
  display: flex;
  gap: 9px;
  padding-bottom: 9px;
}
.product-params__content .params-box .params-item .params-list-item label {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
}
.product-params__content .params-box .params-item[open] svg {
  transform: rotate(180deg);
}
.product-params__content .add-button {
  display: flex;
  align-items: center;
  gap: 23px;
  padding: 15px 57px 14px 24px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #F16D7F;
  background-color: #fff;
  border: 1px solid #F16D7F;
  cursor: pointer;
  transition: all 0.3s;
}
.product-params__content .add-button path {
  transition: all 0.3s;
  fill: #EF5B70;
}
.product-params__content .add-button:hover {
  transition: all 0.3s;
  background-color: #F16D7F;
  color: #fff;
}
.product-params__content .add-button:hover path {
  transition: all 0.3s;
  fill: #fff;
}

.prod {
  margin-bottom: 128px;
}

@media (max-width: 767px) {
  .product-view {
    padding-left: 0;
    padding-right: 0;
  }
  .product-view img {
    max-width: 466px;
  }
  div.product-params {
    padding: 0 0;
    transform: translateY(63px);
    margin-bottom: 128px;
  }
  div.product-params__content {
    padding-left: 16px;
    padding-right: 16px;
    border-left: 0;
    border-right: 0;
  }
  .prod :nth-child(n+3) {
    display: none;
  }
}
@media (max-width: 575px) {
  .product-nav__content {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }
  div.product-params {
    margin-bottom: 0;
  }
  div.product-params__content .text {
    line-height: 143.1%;
  }
  div.product-params__content .price {
    width: 60%;
  }
  div.product-params__content .params-box .params-item .param-summary .param-heading {
    font-size: 10px;
  }
  div.prod {
    margin-bottom: 64px;
  }
}
.products .filter-box {
  margin-top: 38px;
  margin-bottom: 64px;
  position: relative;
  background-color: #fff;
}
.products .filter-box .filter-list {
  position: absolute;
  z-index: 500;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  background-color: #fff;
}
.products .filter-box .filter-list[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  color: #F16D7F;
  z-index: 600;
}
.products .filter-box .filter-list[open] path {
  fill: #F16D7F;
}
.products .filter-box .filter-list-heading {
  padding-top: 13px;
  padding-left: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  list-style: none;
  display: flex;
  gap: 11px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.products .filter-box .filter-list-heading:hover {
  color: #F16D7F;
}
.products .filter-box .filter-list-heading:hover path {
  fill: #F16D7F;
}
.products .filter-box .filter-list .filter-sublist-heading {
  margin-left: 16px;
  margin-bottom: 18px;
  list-style: none;
  cursor: pointer;
  padding: 8px 8px 11px 12px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EAEAEA;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
}
.products .filter-box .filter-list .filter-sublist-heading:hover {
  color: #F16D7F;
}
.products .filter-box .filter-list .filter-sublist-heading:hover path {
  fill: #F16D7F;
}
.products .filter-box .filter-list .filter-sublist-item {
  padding-left: 34px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding: 5px 10px 5px 34px;
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
}
.products .filter-box .filter-list .filter-sublist-item:hover a {
  color: #F16D7F;
}
.products .filter-box .filter-list .filter-sublist-item:hover a path {
  fill: #F16D7F;
}
.products .filter-box .filter-list .filter-sublist li:last-of-type {
  margin-bottom: 20px;
}
.products .filter-box .filter-list .filter-sublist a {
  color: #6F6E6E;
}
.products .filter-box .filter-list .filter-sublist[open] .filter-sublist-heading {
  color: #F16D7F;
}
.products .filter-box .filter-list .filter-sublist[open] .filter-sublist-heading path {
  fill: #F16D7F;
}
.products .filter-params {
  grid-column: span 2;
  background-color: #fff;
  margin-top: 51px;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
.products .filter-params .filter-params-item {
  position: relative;
}
.products .filter-params .filter-params-item .param-summary {
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
}
.products .filter-params .filter-params-item .param-summary .param-heading {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
}
.products .filter-params .filter-params-item .params-list {
  padding: 7px 30px 2px 9px;
  background: #fff;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  position: absolute;
  z-index: 500;
  top: 22px;
  right: 0;
}
.products .filter-params .filter-params-item .params-list-item {
  display: flex;
  gap: 9px;
  padding-bottom: 9px;
}
.products .filter-params .filter-params-item .params-list-item .param-item-label {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
}
.products .filter-params .filter-params-item[open] svg {
  transform: rotate(180deg);
}
.products .page-links {
  margin-top: 48px;
  padding: 14px 15px;
  border: 1px solid #EAEAEA;
  border-radius: 3px;
}
.products .page-links ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #6F6E6E;
}
.products .page-links ul li {
  display: block;
}
.products .page-links ul li:not(:last-child) {
  padding-right: 18px;
}
.products .page-links ul li:hover {
  color: #F16D7F;
}
.products .page-links ul li:hover path {
  fill: #F16D7F;
}

@media (max-width: 767px) {
  .products .filter-box {
    margin-top: 14px;
    margin-bottom: 40px;
  }
  .products .filter-params {
    grid-column: span 1;
    margin-top: 24px;
    justify-content: end;
    gap: clamp(10px, 2.5vw, 28px);
  }
  .products .filter-params .filter-params-item .param-summary {
    gap: 3px;
  }
  .products-list-item:last-of-type {
    display: none;
  }
}
@media (max-width: 575px) {
  .products .filter-box .filter-list {
    padding-left: 0;
  }
  .products .filter-box .filter-list-heading {
    padding-left: 0;
  }
  .products .filter-box .filter-list-heading .filter-tag {
    display: none;
  }
  .products .filter-box .filter-list-heading .filter-icon svg {
    width: 37px;
    height: 25px;
  }
  .products .filter-params {
    position: absolute;
    top: 225px;
    right: 16px;
    z-index: 500;
  }
}
.button_white {
  cursor: pointer;
  border: 1px solid #a4a4a4;
  background-color: #fff;
}
.button_white:hover {
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  color: #fff;
}
.button_pink {
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  background-color: #F16D7F;
}
.button_pink:hover {
  color: #222222;
  background-color: #fff;
  border: 1px solid #a4a4a4;
}

.cart {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.cart__product-box {
  margin-top: 96px;
  margin-bottom: 128px;
  flex-basis: 652px;
}
.cart__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 72px;
}
.cart__item {
  display: flex;
  width: 100%;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  position: relative;
}
.cart__product-link {
  display: flex;
}
.cart__img {
  display: block;
  max-width: 262px;
  object-fit: cover;
}
.cart__dsc {
  padding: 22px 0px 0px 31px;
}
.cart__title {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #222222;
  max-width: 202px;
  margin-bottom: 42px;
}
.cart__text {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #575757;
  margin-bottom: 6px;
}
.cart__text_price {
  color: #F16D7F;
}
.cart__item-quantity {
  width: 44px;
  text-align: end;
  margin-left: 24px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #6F6E6E;
  border: 1px solid #EAEAEA;
}
.cart__del-btn {
  position: absolute;
  top: 28px;
  right: 22px;
  cursor: pointer;
}
.cart__del-btn:hover svg path {
  fill: #F16D7F;
}
.cart__buttons {
  display: flex;
  justify-content: space-between;
}
.cart__btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.cart__order-box {
  flex-basis: 360px;
}
.cart__order {
  margin-top: 113px;
  margin-bottom: 128px;
  position: sticky;
  top: 10px;
}
.cart__order .order-data {
  margin-bottom: 57px;
}
.cart__order .order-label {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #222222;
  margin-bottom: 20px;
}
.cart__order .order-input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #a4a4a4;
  padding: 13px 17px 16px 17px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 300;
}
.cart__order .order-input::placeholder {
  color: #b1b1b1;
}
.cart__order .order-quote-btn {
  padding: 12px 14px;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-weight: 300;
}
.cart__order .order-proceed {
  background-color: #f5f3f3;
  padding: 39px 44px 42px 44px;
}
.cart__order .order-proceed .sub {
  text-align: right;
  padding-bottom: 12px;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #4a4a4a;
}
.cart__order .order-proceed .total {
  text-align: right;
  padding-bottom: 21px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #222222;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 17px;
}
.cart__order .order-proceed .cost {
  margin-left: 20px;
}
.cart__order .order-proceed .cost__total {
  color: #F16D7F;
  font-weight: 600;
}
.cart__order .order-proceed .proceed__btn {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 15px 0;
}

@media (max-width: 1023px) {
  .cart {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .cart__product-box {
    margin-top: 59px;
    margin-bottom: 64px;
  }
  .cart__list {
    margin-bottom: 62px;
  }
  .cart__buttons {
    justify-content: center;
    gap: 48px;
  }
  .cart__order-box {
    width: 100%;
    flex-basis: 0;
    margin-bottom: 128px;
  }
  .cart__order {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    gap: 16px;
    justify-content: center;
  }
  .cart__order .order-data {
    width: 50%;
    margin-bottom: 0;
  }
  .cart__order .order-proceed {
    margin-top: 38px;
    width: 50%;
    height: 214px;
    padding: 39px clamp(24px, 4vw, 44px) 42px;
  }
}
@media (max-width: 575px) {
  .cart__product-box {
    margin-top: 39px;
    margin-bottom: 48px;
    flex-basis: 0;
  }
  .cart__list {
    margin-bottom: 30px;
  }
  .cart__img {
    max-width: 143px;
    height: 188px;
  }
  .cart__dsc {
    padding: 14px 0px 0px 17px;
  }
  .cart__title {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 26px;
    max-width: 80%;
  }
  .cart__text {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #575757;
    margin-bottom: 4px;
  }
  .cart__item-quantity {
    width: 34px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  .cart__buttons {
    justify-content: space-between;
    gap: 9px;
  }
  .cart__btn {
    padding: 1rem 1rem;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
    width: 50%;
  }
  .cart__del-btn {
    top: 17px;
    right: 22px;
  }
  .cart__del-btn svg {
    width: 10px;
  }
  .cart__order-box {
    margin-bottom: 96px;
  }
  .cart__order {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  .cart__order .order-data {
    width: 100%;
    margin-bottom: 48px;
  }
  .cart__order .order-proceed {
    margin-top: 0;
    width: 100%;
  }
  .button_white {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
}
* a:visited {
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.center {
  max-width: 1172px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  background-color: #222222;
  overflow-x: clip;
  position: relative;
}
.header #menu-check {
  display: none;
}
.header #menu-check:checked ~ .menu-box {
  right: 0px;
}
.header .menu-box {
  background-color: #fff;
  padding: 37px 73px 37px 33px;
  position: absolute;
  top: 75px;
  right: -300px;
  z-index: 5000;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  transition: right 0.3s;
}
.header .menu-box ul {
  list-style-type: none;
}
.header .menu-box .title {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px;
}
.header .menu-box .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.header .menu-box .close-btn:hover path {
  fill: #F16D7F;
}
.header .menu-box .group {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #F16D7F;
  margin-bottom: 20px;
}
.header .menu-box .group :first-child {
  margin-top: 7px;
}
.header .menu-box .group .subgroup {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
  padding: 5px 5px 5px 20px;
  cursor: pointer;
}
.header .menu-box .group .subgroup:hover {
  color: #F16D7F;
}
.header__content {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content .head-button {
  display: block;
  cursor: pointer;
}
.header__content .head-button:hover path {
  fill: #F16D7F;
}
.header__content-left {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 41px;
}
.header__content-right {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 33px;
}
.header .chipcard {
  position: relative;
  margin-right: 8px;
}
.header .chipcard__chip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
  top: -8px;
  right: -8px;
  background-color: #F16D7F;
  border-radius: 50%;
  width: 19px;
  height: 19px;
}

.banner {
  background-color: #f1e4e6;
  margin-bottom: 65px;
}
.banner__content {
  display: flex;
}
.banner__content-left {
  display: flex;
  justify-content: end;
  width: 50%;
}
.banner__content-left img {
  display: block;
  max-width: 100%;
}
.banner__content-right {
  display: flex;
  align-items: center;
  padding-right: 16px;
  padding-bottom: 5vw;
}
.banner__content-right .text {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}
.banner__content-right .text :nth-child(1) {
  font-family: "Lato", sans-serif;
  font-size: clamp(44px, 5vw, 48px);
  font-weight: 900;
  display: block;
}
.banner__content-right .text :nth-child(2), .banner__content-right .text :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: clamp(24px, 3vw, 32px);
  font-weight: 700;
}
.banner__content-right .text :nth-child(3) {
  color: #F16D7F;
}

.offer {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, max-content));
  overflow: hidden;
  column-gap: clamp(16px, 2%, 30px);
  row-gap: clamp(16px, 5%, 30px);
  margin-bottom: 96px;
}
.offer .text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offer .text :nth-child(1) {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.offer .text :nth-child(2), .offer .banner__content-right .text :nth-child(3), .banner__content-right .offer .text :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #F16D7F;
}
.offer img {
  width: 100%;
  display: block;
}
.offer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #211616;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.offer .cell {
  position: relative;
  grid-row: 1/2;
}
.offer .bigcell {
  position: relative;
  grid-column: 1/-1;
  grid-row: 2/3;
}
.offer .offer-btn:hover .overlay {
  opacity: 0;
  transition: opacity 0.3s;
}

.products {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 95px;
}
.products-title {
  padding-bottom: 48px;
}
.products-title :nth-child(1) {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  display: block;
}
.products-title :nth-child(2), .products-title .banner__content-right .text :nth-child(3), .banner__content-right .text .products-title :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(16px, 2.5vw, 30px);
}
.products-list-item {
  background-color: #f8f8f8;
  position: relative;
}
.products-list-item .item-link {
  text-decoration: none;
}
.products-list-item img {
  width: 100%;
}
.products-list-item .add-box {
  position: absolute;
  width: 100%;
  display: none;
  justify-content: center;
  top: 30%;
  pointer-events: none;
}
.products-list-item .add-btn {
  display: flex;
  align-items: center;
  gap: 11px;
  border: 1px solid #fff;
  padding: 11px 16px 11px 13px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  pointer-events: all;
}
.products-list-item .add-btn:hover {
  box-shadow: 0px 0px 10px 0px #fff;
}
.products-list-item .spec {
  padding: 25px 28px 20px 18px;
}
.products-list-item .spec .name {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #5d5d5d;
  padding-bottom: 13px;
}
.products-list-item .spec .desc {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #5d5d5d;
  padding-bottom: 18px;
}
.products-list-item .spec .price {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #F16D7F;
}
.products-list-item:hover img {
  filter: brightness(0.3);
}
.products-list-item:hover .add-box {
  display: flex;
}
.products-link {
  margin-top: 48px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 39px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  cursor: pointer;
  transition: all 0.3s;
}
.products-link:hover {
  background-color: #F16D7F;
  color: #fff;
}
.products-link:hover path {
  fill: #fff;
}

.feature {
  background-color: #222222;
  padding: 103px 0;
}
.feature__content {
  display: flex;
  align-items: center;
  gap: clamp(16px, 16px + 14 * (100vw - 1024px) / 156, 30px);
}
.feature__content-item {
  max-width: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.feature__content-item :nth-child(1) {
  display: block;
  margin-bottom: 28px;
}
.feature__content-item :nth-child(2), .feature__content-item .banner__content-right .text :nth-child(3), .banner__content-right .text .feature__content-item :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #FBFBFB;
  display: block;
  margin-bottom: 16px;
}
.feature__content-item :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #FBFBFB;
  display: block;
  padding: 0 30px;
}

.subscribe {
  padding-bottom: 156px;
  padding-top: 97px;
  background-image: url("/assets/img/subscribe_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.subscribe__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
}
.subscribe__content-left {
  max-width: 360px;
}
.subscribe__content-left .subcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.subscribe__content-left .subcontainer :nth-child(1) {
  margin-bottom: 30px;
}
.subscribe__content-left .subcontainer :nth-child(2), .subscribe__content-left .subcontainer .banner__content-right .text :nth-child(3), .banner__content-right .text .subscribe__content-left .subcontainer :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #222222;
  text-align: center;
}
.subscribe__content-right {
  width: 50%;
  display: flex;
  justify-content: center;
}
.subscribe__content-right .subcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 360px;
}
.subscribe__content-right .subcontainer :nth-child(1) {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #222222;
}
.subscribe__content-right .subcontainer :nth-child(2), .subscribe__content-right .subcontainer .banner__content-right .text :nth-child(3), .banner__content-right .text .subscribe__content-right .subcontainer :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  padding-bottom: 32px;
  text-align: center;
}
.subscribe__content-right .subcontainer .subscribe-form {
  display: flex;
  width: 100%;
}
.subscribe__content-right .subcontainer .subscribe-form .email-input {
  background-color: #e1e1e1;
  border: 0;
  height: 49px;
  width: 100%;
  border-radius: 25px 0 0 25px;
  padding: 15px 22px 15px 22px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
}
.subscribe__content-right .subcontainer .subscribe-form .btn-subscribe {
  background-color: #F16D7F;
  border: 0;
  height: 49px;
  border-radius: 0 25px 25px 0;
  padding: 15px 20px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
.subscribe__content-right .subcontainer .subscribe-form .btn-subscribe:hover {
  box-shadow: 3px 0px 13px 0px #F16D7F;
}

.bottom {
  background-color: #222222;
}
.bottom__content {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom__content-left {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FBFBFB;
  text-align: center;
}
.bottom__content-right {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 7px;
}
.bottom__content-right .ext-link:hover .bg {
  fill: #F16D7F;
}
.bottom__content-right .ext-link:hover .symbol {
  fill: #FBFBFB;
}

@media (max-width: 767px) {
  .header__content {
    padding: 0 32px;
  }
  .banner {
    margin-bottom: 20px;
  }
  .banner .text :nth-child(1) {
    font-family: "Lato", sans-serif;
    font-size: clamp(38px, 6vw, 44px);
    font-weight: 900;
  }
  .banner .text :nth-child(2), .banner .banner__content-right .text :nth-child(3), .banner__content-right .banner .text :nth-child(3) {
    font-family: "Lato", sans-serif;
    font-size: clamp(20px, 3.5vw, 24px);
    font-weight: 700;
  }
  .offer {
    margin-bottom: 154px;
  }
  .products {
    margin-bottom: 64px;
  }
  .products-list {
    grid-template-columns: repeat(2, minmax(auto, max-content));
    gap: 16px;
  }
  .feature {
    padding: 48px 0 64px;
  }
  .feature__content {
    flex-direction: column;
    gap: 48px;
  }
  .subscribe {
    padding-bottom: 140px;
    padding-top: 64px;
  }
  .subscribe__content {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .subscribe__content-right {
    width: 100%;
    max-width: 360px;
  }
  .subscribe__content-right .subcontainer :nth-child(2), .subscribe__content-right .subcontainer .banner__content-right .text :nth-child(3), .banner__content-right .text .subscribe__content-right .subcontainer :nth-child(3) {
    padding-bottom: 27px;
  }
  .bottom__content {
    padding: 0 32px;
  }
}
@media (max-width: 575px) {
  .header__content {
    padding: 0 16px;
  }
  .header__content-right #profile-btn {
    display: none;
  }
  .header__content-right #cart-btn {
    display: none;
  }
  .banner {
    margin-bottom: 64px;
  }
  .banner__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner__content-left {
    display: none;
  }
  .banner__content-right {
    height: 363px;
    padding: 0 16px;
  }
  .banner__content-right .text :nth-child(1) {
    font-family: "Lato", sans-serif;
    font-size: 38px;
    font-weight: 900;
  }
  .banner__content-right .text :nth-child(2), .banner__content-right .text :nth-child(3) {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
  .offer {
    margin-bottom: 64px;
    grid-template-columns: repeat(1, minmax(auto, max-content));
    justify-content: center;
    gap: 32px;
  }
  .offer .cell,
  .offer .bigcell {
    grid-row: auto;
    grid-column: 1/-1;
  }
  .offer .bigcell > img {
    height: 111px;
    object-fit: cover;
  }
  .products {
    margin-bottom: 96px;
  }
  .products-list {
    grid-template-columns: repeat(1, minmax(auto, max-content));
  }
  .feature {
    padding: 46px 0 81px;
  }
  .feature__content {
    flex-direction: column;
    gap: 48px;
  }
  .subscribe {
    padding-bottom: 109px;
  }
  .bottom {
    padding-top: 43px;
    padding-bottom: 9px;
  }
  .bottom__content {
    flex-direction: column-reverse;
    padding: 0 32px;
  }
}/*# sourceMappingURL=style.css.map */