@import "vars";
@import "mixins";
@import "product";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.center {
    max-width: calc($contentWidth + $contentPadding * 2);
    margin: 0 auto;
    padding: 0 $contentPadding;
}

.header {
    background-color: $colorDark;
    &__content {
        height: 75px;
        width: 100%;
        @include flex_jc_ai(space-between, center);
        &-left {
            @include flex_jc_ai(start, end);
            gap: 41px;
        }
        &-right {
            @include flex_jc_ai(end, end);
            gap: 33px;
        }
    }
    .chipcard {
        position: relative;
        margin-right: -$chipOffset;
        &__chip {
            position: absolute;
            @include flex_jc_ai(center, center);
            @include font_sz_w(12px, 400);
            color: white;
            top: $chipOffset;
            right: $chipOffset;
            background-color: $colorPink;
            border-radius: 50%;
            width: 19px;
            height: 19px;
        }
    }
}

.banner {
    background-color: #f1e4e6;
    margin-bottom: 65px;
    &__content {
        display: flex;
        &-left {
            display: flex;
            justify-content: end;
            width: 50%;
            img {
                display: block;
                max-width: 100%;
            }
        }
        &-right {
            display: flex;
            align-items: center;
            padding-right: $contentPadding;
            padding-bottom: 5vw;
            .text {
                border-left: 12px solid $colorPink;
                padding-left: 16px;
                :nth-child(1) {
                    @include font_sz_w(clamp(44px, 5vw, 48px), 900);
                    display: block;
                }
                :nth-child(2) {
                    @include font_sz_w(clamp(24px, 3vw, 32px), 700);
                }
                :nth-child(3) {
                    @extend :nth-child(2);
                    color: $colorPink;
                }
            }
        }
    }
}

.offer {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, max-content));
    // grid-gap: clamp(16px, calc(16px + (30 - 16) * (100vw - 1024px) / (1180 - 1024)), 30px);
    // column-gap: 2%;
    column-gap: clamp(16px, 2%, 30px);
    row-gap: clamp(16px, 5%, 30px);
    margin-bottom: 96px;
    .text {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include flex_jc_ai(center, center);
        flex-direction: column;
        :nth-child(1) {
            @include font_sz_w(16px, 400);
            color: #fff;
        }
        :nth-child(2) {
            @include font_sz_w(24px, 700);
            color: $colorPink;
        }
    }
    img {
        width: 100%;
        display: block;
    }
    .cell {
        position: relative;
        grid-row: 1 / 2;
    }
    .bigcell {
        position: relative;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }
}

.products {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 95px;
    &-title {
        padding-bottom: 48px;
        :nth-child(1) {
            @include font_sz_w(30px, 400);
            text-align: center;
            display: block;
        }
        :nth-child(2) {
            @include font_sz_w(14px, 400);
        }
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, max-content));
        // gap: clamp(16px, calc(16px + (30 - 16) * (100vw - 1024px) / (1180 - 1024)), 30px);
        gap: clamp(16px, 2.5vw, 30px);
        margin-bottom: 48px;
        &-item {
            background-color: #f8f8f8;
            img {
                width: 100%;
            }
            .spec {
                padding: 25px 28px 20px 18px;
                .name {
                    display: block;
                    @include font_sz_w(13px, 400);
                    padding-bottom: 13px;
                }
                .desc {
                    display: block;
                    @include font_sz_w(14px, 300);
                    color: #5D5D5D;
                    padding-bottom: 18px;
                }
                .price {
                    display: block;
                    @include font_sz_w(16px, 400);
                    color: $colorPink;
                }
            }
        }
    }
    &-link {
        text-decoration: none;
        @include font_sz_w(16px, 400);
        padding: 15px 39px;
        border: 1px solid $colorPink;
        color: $colorPink;
    }
}

.feature {
    background-color: $colorDark;
    padding: 103px 0;
    &__content {
        display: flex;
        align-items: center;
        gap: clamp(16px, calc(16px + (30 - 16) * (100vw - 1024px) / (1180 - 1024)), 30px);
        &-item {
            max-width: 360px;
            display: flex;
            align-items: center;
            flex-direction: column;
            :nth-child(1) {
                display: block;
                margin-bottom: 28px;
            }
            :nth-child(2) {
                @include font_sz_w(20px, 400);
                text-align: center;
                color: $colorLight;
                display: block;
                margin-bottom: 16px;
            }
            :nth-child(3) {
                @include font_sz_w(14px, 300);
                text-align: center;
                color: $colorLight;
                display: block;
                padding: 0 30px;
            }
        }
    }
}

.subscribe {
    padding-bottom: 156px;
    padding-top: 97px;
    background-image: url("/assets/img/subscribe_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    &__content {
        @include flex_jc_ai(space-between, end);
        gap: 25px;
        &-left {
            width: 360px;
            .subcontainer {
                display: flex;
                align-items: center;
                flex-direction: column;
                :nth-child(1) {
                    margin-bottom: 30px;
                }
                :nth-child(2) {
                    @include font_sz_w(20px, 400);
                    color: $colorDark;
                    text-align: center;
                }
            }
        }
        &-right {
            width: 50%;
            .subcontainer {
                display: flex;
                align-items: center;
                flex-direction: column;
                :nth-child(1) {
                    @include font_sz_w(25px, 700);
                    color: $colorDark;
                }
                :nth-child(2) {
                    @include font_sz_w(18px, 400);
                    color: $colorDark;
                    padding-bottom: 32px;
                }
                .subscribe-form {
                    display: flex;
                    .email-input {
                        background-color: #e1e1e1;
                        border: 0;
                        height: 49px;
                        border-radius: 25px 0 0 25px;
                        padding: 15px 64px 15px 22px;
                        @include font_sz_w(14px, 400);
                        color: $colorDark;
                    }
                    .btn-subscribe {
                        background-color: $colorPink;
                        border: 0;
                        height: 49px;
                        border-radius: 0 25px 25px 0;
                        padding: 15px 20px;
                        @include font_sz_w(14px, 400);
                        color: #fff;
                    }
                }
            }
        }
    }
}

.bottom {
    background-color: $colorDark;
    &__content {
        height: 75px;
        width: 100%;
        @include flex_jc_ai(space-between, center);
        &-left {
            @include font_sz_w(16px, 400);
            color: $colorLight;
        }
        &-right {
            @include flex_jc_ai(end, end);
            gap: 7px;
            .ext-link:hover {
                .bg {
                    fill: $colorPink;
                }
                .symbol {
                    fill: $colorLight;
                }
            }

        }
    }
}

@import "media";