@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.center {
  max-width: 1172px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  background-color: #222222;
}
.header__content {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content-left {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 41px;
}
.header__content-right {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 33px;
}
.header .chipcard {
  position: relative;
  margin-right: 8px;
}
.header .chipcard__chip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
  top: -8px;
  right: -8px;
  background-color: #F16D7F;
  border-radius: 50%;
  width: 19px;
  height: 19px;
}

.banner {
  background-color: #f1e4e6;
  margin-bottom: 65px;
}
.banner .banner__content {
  width: 100%;
  display: flex;
}
.banner .banner__content-left {
  width: 50%;
}
.banner .banner__content-left img {
  display: block;
  width: 100%;
}
.banner .banner__content-right {
  width: 50%;
  display: flex;
  align-items: center;
  padding-bottom: 90px;
}
.banner .banner__content-right .text {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}
.banner .banner__content-right .text :nth-child(1) {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: 900;
  display: block;
}
.banner .banner__content-right .text :nth-child(2), .banner .banner__content-right .text :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.banner .banner__content-right .text :nth-child(3) {
  color: #F16D7F;
}

.offer {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, max-content));
  grid-gap: clamp(16px, 16px + 14 * (100vw - 1024px) / 156, 30px);
  margin-bottom: 96px;
}
.offer .text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offer .text :nth-child(1) {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.offer .text :nth-child(2), .offer .banner .banner__content-right .text :nth-child(3), .banner .banner__content-right .offer .text :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #F16D7F;
}
.offer img {
  width: 100%;
  display: block;
}
.offer .cell {
  position: relative;
  grid-row: 1/2;
}
.offer .bigcell {
  position: relative;
  grid-column: 1/-1;
  grid-row: 2/3;
}

.products {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 95px;
}
.products-title {
  padding-bottom: 48px;
}
.products-title :nth-child(1) {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  display: block;
}
.products-title :nth-child(2), .products-title .banner .banner__content-right .text :nth-child(3), .banner .banner__content-right .text .products-title :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.products-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, max-content));
  gap: clamp(16px, 16px + 14 * (100vw - 1024px) / 156, 30px);
  margin-bottom: 48px;
}
.products-list-item {
  background-color: #f8f8f8;
}
.products-list-item img {
  width: 100%;
}
.products-list-item .spec {
  padding: 25px 28px 20px 18px;
}
.products-list-item .spec .name {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 13px;
}
.products-list-item .spec .desc {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 18px;
}
.products-list-item .spec .price {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #F16D7F;
}
.products-link {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 39px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.feature {
  background-color: #222222;
  padding: 103px 0;
}
.feature__content {
  display: flex;
  gap: clamp(16px, 16px + 14 * (100vw - 1024px) / 156, 30px);
}
.feature__content-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.feature__content-item :nth-child(1) {
  display: block;
  margin-bottom: 28px;
}
.feature__content-item :nth-child(2), .feature__content-item .banner .banner__content-right .text :nth-child(3), .banner .banner__content-right .text .feature__content-item :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #FBFBFB;
  display: block;
  margin-bottom: 16px;
}
.feature__content-item :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #FBFBFB;
  display: block;
  padding: 0 30px;
}

.subscribe {
  padding-bottom: 156px;
  padding-top: 97px;
  background-image: url("/assets/img/subscribe_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.subscribe__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.subscribe__content-left {
  width: 360px;
}
.subscribe__content-left .subcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.subscribe__content-left .subcontainer :nth-child(1) {
  margin-bottom: 30px;
}
.subscribe__content-left .subcontainer :nth-child(2), .subscribe__content-left .subcontainer .banner .banner__content-right .text :nth-child(3), .banner .banner__content-right .text .subscribe__content-left .subcontainer :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #222222;
  text-align: center;
}
.subscribe__content-right {
  width: 50%;
}
.subscribe__content-right .subcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.subscribe__content-right .subcontainer :nth-child(1) {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #222222;
}
.subscribe__content-right .subcontainer :nth-child(2), .subscribe__content-right .subcontainer .banner .banner__content-right .text :nth-child(3), .banner .banner__content-right .text .subscribe__content-right .subcontainer :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  padding-bottom: 32px;
}
.subscribe__content-right .subcontainer .subscribe-form {
  display: flex;
}
.subscribe__content-right .subcontainer .subscribe-form .email-input {
  background-color: #e1e1e1;
  border: 0;
  height: 49px;
  border-radius: 25px 0 0 25px;
  padding: 15px 64px 15px 22px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
}
.subscribe__content-right .subcontainer .subscribe-form .btn-subscribe {
  background-color: #F16D7F;
  border: 0;
  height: 49px;
  border-radius: 0 25px 25px 0;
  padding: 15px 20px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.bottom {
  background-color: #222222;
}
.bottom__content {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom__content-left {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FBFBFB;
}
.bottom__content-right {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 7px;
}/*# sourceMappingURL=style.css.map */