@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

@mixin flex_jc_ai($jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin font_sz_w($size, $weight) {
    font-family: "Lato", sans-serif;
    font-size: $size;
    font-weight: $weight;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.center {
    padding-left: calc(50% - $siteWidth / 2);
    padding-right: calc(50% - $siteWidth / 2);
}

.header {
    background-color: $bgDark;
    height: 75px;
    @include flex_jc_ai(space-between, center);

    &__left {
        @include flex_jc_ai(start, end);
        gap: 41px;
    }

    &__right {
        @include flex_jc_ai(end, end);
        gap: 33px;
    }
}

.chipcard {
    position: relative;
    margin-right: -$chipOffset;
    &__chip {
        position: absolute;
        @include flex_jc_ai(center, center);
        @include font_sz_w(12px, 400);
        color: white;
        top: $chipOffset;
        right: $chipOffset;
        background-color: $colorPink;
        border-radius: 50%;
        width: 19px;
        height: 19px;
    }
}

.banner {
    background-color: #f1e4e6;
    @include flex_jc_ai(start, start);
    margin-bottom: 65px;
    &__left {
        flex: 1;
        img {
            display: block;
        }
    }
    &__right {
        padding-top: 290px;
        flex: 1;
        @include flex_jc_ai(start, end);
        gap: 16px;
        .vline {
            width: 12px;
            height: 92px;
            background-color: $colorPink;
        }
        .text {
            :nth-child(1) {
                @include font_sz_w(48px, 900);
                display: block;
            }
            :nth-child(2) {
                @include font_sz_w(32px, 700);
            }
            :nth-child(3) {
                @extend :nth-child(2);
                color: $colorPink;
            }
        }
    }
}

.main-offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-bottom: 96px;
    .text {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include flex_jc_ai(center, center);
        flex-direction: column;
        :nth-child(1) {
            @include font_sz_w(16px, 400);
            color: #fff;
        }
        :nth-child(2) {
            @include font_sz_w(24px, 700);
            color: $colorPink;
        }
    }

    .cell {
        position: relative;
        grid-row: 1 / 2;
    }

    .bigcell {
        position: relative;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        width: 100%;
    }
}
