@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222222;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 41px;
}
.header__right {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 33px;
}

.chipcard {
  position: relative;
  margin-right: 8px;
}
.chipcard__chip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
  top: -8px;
  right: -8px;
  background-color: #F16D7F;
  border-radius: 50%;
  width: 19px;
  height: 19px;
}

.banner {
  background-color: #f1e4e6;
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 65px;
}
.banner__left {
  flex: 1;
}
.banner__left img {
  display: block;
}
.banner__right {
  padding-top: 290px;
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 16px;
}
.banner__right .vline {
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
}
.banner__right .text :nth-child(1) {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: 900;
  display: block;
}
.banner__right .text :nth-child(2), .banner__right .text :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.banner__right .text :nth-child(3) {
  color: #F16D7F;
}

.offer {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, max-content));
  grid-gap: 30px;
  padding-bottom: 96px;
}
.offer .text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offer .text :nth-child(1) {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.offer .text :nth-child(2), .offer .banner__right .text :nth-child(3), .banner__right .offer .text :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #F16D7F;
}
.offer img {
  width: 100%;
}
.offer .cell {
  position: relative;
  grid-row: 1/2;
}
.offer .bigcell {
  position: relative;
  grid-column: 1/-1;
  grid-row: 2/3;
}

.products {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 95px;
}
.products-title {
  padding-bottom: 48px;
}
.products-title :nth-child(1) {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  display: block;
}
.products-title :nth-child(2), .products-title .banner__right .text :nth-child(3), .banner__right .text .products-title :nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.products-list {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, min-content));
  justify-content: space-between;
  row-gap: 30px;
  padding-bottom: 48px;
}
.products-list-item {
  background-color: #f8f8f8;
}
.products-list-item .spec {
  padding: 25px 28px 20px 18px;
}
.products-list-item .spec .name {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 13px;
}
.products-list-item .spec .desc {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 18px;
}
.products-list-item .spec .price {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #F16D7F;
}
.products-link {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 39px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}/*# sourceMappingURL=style.css.map */